<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="PerformanceMeasuringForAtlassianHomePage" verbose="1" time-out="300000">
    <test verbose="1" name="Test" annotations="JDK" thread-count="10" parallel="methods">
        <classes>
            <class name="Tests.AtlassianLoginPageActionTimeMeasurement"/>
        </classes>
    </test>
</suite>
